@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

.brand-sub {
    color: rgb(164, 1, 1);
    font-family: 'Wallpoet', cursive;
}
.brand-sub-arrow {
    color: rgb(29, 22, 22);
    font-family: 'Allerta Stencil', sans-serif;
}
.brand {
    color : black;
    font-size: 50px;
    font-family: 'Wallpoet', cursive;
}