@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400&display=swap');

.bannerSubHeading{
    font-family: 'Jost', sans-serif;
}

.bannerHeading {
    font-family: 'Jost', sans-serif;
}


.clock{
    transform: rotate(90deg);
}
.anticlock{
    transform: rotate(-90deg);
}
.fadeIn{
    animation: fadein 1s forwards ease-in;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.visibilityNone{
    animation: fadeout 1s forwards ease-in;
}

@keyframes fadeout {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        transform: translateX(-100%);
    }
}

